{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    {% if title %}
    <title>Instagram - {{title}} </title>
    {% else %}
      <title> Instagram </title>
    {% endif %}

    {% block styles %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/basegram.css' %}">
    {% endblock %}
</head>
<body>
    {% include "all-gram/navbar.html" %}

    {% block content %} <h1 class='text-center'></h1> 

    {% block scripts %}
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
     {% bootstrap_javascript %}
    {% endblock %}
    {%endblock%}
</body>
</html>